/* shear style */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shear font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.primary-logo>img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.primary-title {
    font-size: 45px;
    font-weight: 700;
    color: #FF42A5;
}

.amer {
    color: #0B0223;
}

/* header style */
header {
    display: flex;
    padding: 38px 240px;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000d;
}

.header-item>ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    gap: 32px;
}

.follow {
    border-radius: 8px;
    background: #0b02231a;
    padding: 18px 24px;
    align-items: center;
    gap: 24px;
}

/* banner section style */
.banner-section {
    display: flex;
    justify-content: space-around;
}

.banner-content {
    background-image: url('../images/Group\ 14.png');
    padding-top: 140px;
    padding-left: 100px;
    padding-bottom: 140px;
    padding-right: 310px;
    text-align: center;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-hippo {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list {
    list-style: none;
    text-align: left;
    align-items: center;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.sign-in {
    margin-top: 40px;
    color: #FFF;
    border-radius: 48px;
    background: #ff42a5;
    border: 0;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 8px;

}

.go-rogue {
    margin-top: 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
}

.banner-img {
    vertical-align: bottom;
    margin-top: auto;
    width: 100%;
    vertical-align: bottom;
}

/* gammer section style */
.gammer-section {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gammer-img {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: 200px;

}

.gammer-content {
    text-align: right;
    margin-right: 90px;
    align-items: center;
    padding-top: 95px;
}

.gammer-title {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gammer-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-know-more {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 21px 40px;

}

.gammer-caption {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

/* online game section */
.online-game {
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
}

.online-game-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 8px;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 8px;
}

/* online game img section */
.online-game-img-section {
    display: grid;
    grid-template-areas:
        "rectangle-4                     rectangle-5                rectangle-7                  rectangle-6"
        "rectangle-description-4         rectangle-description-5    rectangle-description-7 rectangle-description-6"
    ;
    margin: 50px;
    max-width: 100%;
    height: auto;
    grid-gap: 18px;

}

.rectangle-7 {
    position: relative;
}

.watch-now {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    inset: 50%;
}

/* play section */
.play-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 0px;
    margin-right: 100px;
}

.play-content {
    text-align: right;
    align-items: center;
    margin-top: 150px;
    margin-right: 30px;
}

.play-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.rectangle-55 {
    margin-left: 150px;
    width: 600px;
    height: 620px;
}

.rectangle-66 {
    position: relative;
    bottom: 250px;
    width: 300px;
    height: 330px;
}

/* play-game-section */

.play-game-section {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 90px;
    margin-right: 160px;
}

.rectangle-67 {
    width: 680px;
    height: 600px;
}

.rectangle-78 {
    position: relative;
    bottom: 250px;
    left: 525px;
    width: 300px;
    height: 330px;
}

.play-game-content {
    text-align: left;
    align-items: center;
    margin-top: 150px;
    margin-left: 170px;
}

.play-game-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-games-online {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-game-description {
    color: #534C64;
    font-weight: 400;
    line-height: 30px;
}

/* faction-section selection */
.faction-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;

}

.card {
    padding: 30px;
    align-items: center;
}

.card-title {
    position: relative;
    bottom: 45px;
    left: 70px;
    color: #0B0223;
    font-weight: 600;
}

/* footer style */
footer {
    background: #0B0223;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 400px;
    padding-right: 400px;
}
.footer-logo-section{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-logo-title {
    font-size: 45px;
    font-weight: 700;
    color: #FF42A5;
}

.footer-logo>img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.amer-footer {
    color: #FFF;
}

.footer-items {
    display: inline-flex;
    padding: 3px;
    gap: 20px;
    color: #FFF;
}

.footer-icon-list {
    display: inline-flex;
    padding: 3px;
    gap: 20px;
}

.footer-service {
    display: inline-flex;
    padding: 5px;
    gap: 30px;
    color: #ffffff99;
    font-size: 16px;
    font-weight: 500;
}
.developer-id{
    color: #ffffff99;
    font-size: 16px;
    font-weight: 500;
}